html {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

body {
  min-height: 100%;
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  font-size: 14px;
  color: #3f3f3f;
}

h1,
h2,
h3 {
  font-weight: 600;
  color: #010101;
  font-weight: 300;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

.heading {
  height: 210px;
  width: 960px;
  margin: 0 auto 20px auto;
  overflow: hidden;
}

.heading .avatar {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  border: 3px solid rgba(255, 255, 255, 0.7);
  overflow: hidden;
  margin: 10px auto 10px auto;
}

.heading .avatar img {
  display: block;
  width: 100%;
}

.heading .title {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  text-shadow: white 0px 1px 1px;
}

.menu {
  padding: 0;
  margin: 0 0 20px 0;
  list-style: none;
  text-align: center;
}

.menu li {
  display: inline-block;
  vertical-align: baseline;
  margin: 0 5px;
  font-size: 16px;
}

.menu li a {
  color: black;
  text-shadow: white 0px 1px 1px;
  text-decoration: none;
  border-bottom: 1px dashed;
}

.menu li a:hover {
  border: none;
}

.container {
  background: rgba(255, 255, 255, 0.7);
  width: 900px;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
}

.container table:not(.contacts) tr td {
  padding: 15px 10px;
  line-height: 20px;
  font-size: 14px;
  vertical-align: top;
}

.container table:not(.contacts) tr td:first-child {
  padding-right: 20px;
}

.container table:not(.contacts) tr td h3 {
  margin-top: 0px;
}

.container table:not(.contacts) tr td .thumb {
  position: relative;
  widows: 200px;
}

.container table:not(.contacts) tr td .thumb .overlay {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 65px;
  width: 180px;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.75);
  font-size: 12px;
  line-height: 16px;
  color: white;
  display: none;
}

.container table:not(.contacts) tr td .thumb img {
  width: 200px;
}

.button {
  display: block;
  height: 20px;
  width: 50px;
  background: white;
  border-radius: 2px;
  text-align: center;
  line-height: 20px;
  text-decoration: none;
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: white;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.button:hover {
  background-color: #47a447;
  border-color: #398439;
}

.hidden {
  display: none;
}