html {
  height: 100%;
}

body {
  min-height: 100%;
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  font-size: 14px;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

.heading {
  height: 200px;
  width: 960px;
  margin: 0 auto 20px auto;
  overflow: hidden;
}

.heading .avatar {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  border: 3px solid rgba(255, 255, 255, 0.7);
  overflow: hidden;
  margin: 10px auto 10px auto;
}

.heading .avatar img {
  display: block;
  width: 100%;
}

.heading .title {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  text-shadow: white 0px 1px 1px;
}

.menu {
  padding: 0;
  margin: 0 0 20px 0;
  list-style: none;
  text-align: center;
}

.menu li {
  display: inline-block;
  vertical-align: baseline;
  margin: 0 5px;
  font-size: 16px;
}

.menu li a {
  color: black;
  text-shadow: white 0px 1px 1px;
  text-decoration: none;
  border-bottom: 1px dashed;
}

.menu li a:hover {
  border: none;
}

.container {
  background: rgba(255, 255, 255, 0.7);
  width: 900px;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
}

.container table tr {
  padding: 5px 0px;
}

.container table tr td {
  padding: 10px;
  line-height: 20px;
  font-size: 14px;
  vertical-align: top;
}

.container table tr td h3 {
  margin-top: 0px;
}

.container table tr td img {
  width: 150px;
}