html
  head

    meta charset="utf-8" 
    meta content="IE=edge" http-equiv="X-UA-Compatible" 
    title Ilja Lovrjakov - Portfolio
    meta content="" name="description" 
    meta content="width=device-width, initial-scale=1" name="viewport" 
    link href="css/normalize.css" rel="stylesheet" 
    link href="css/main.css" rel="stylesheet" 
    link href="css/folio.css" rel="stylesheet"
  body

    .heading
      .avatar
        img src="https://0.gravatar.com/avatar/bfaa44f06cc46f07f965684d792d5df7?d=https%3A%2F%2Fidenticons.github.com%2F5c0bf1e63bb423e6fc88e25a078d4ca8.png&r=x&s=200"
      .title
        | Front End Developer

    ul.menu
      li
        a href="#work"
          | Projects
      li
        a href="#skills"
          | Skills
      li
        a href="#hobby"
          | Spare time
      li
        a href="#contacts"
          | Contacts

    .container

      h1
       | Hello world! I am a cool person and thats why:

      table
        thead
          tr
            td
              | work
            td
              | description
        tbody
          tr
            td
              | 11111
            td
              | 2434uthefkdjghdfk

    script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
    script src="js/main.js"